.loginPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
}

.loginCard h2 {
    margin-bottom: 50px;
    font-size: 1.3rem;
    color: rgb(95, 95, 95);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f9d58;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 8px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #07713e;
}

.button img {
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px;
}
