* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ce-person-text {
  word-break: break-all;
}

@media (max-width: 780px) and (min-width: 576px) {
  .ce-chat-form-container * {
    font-size: 1.2rem !important;
  }

  .ce-avatar,
  .ce-avatar-status {
    display: block;
    position: relative !important;
  }

  .ce-person-text {
    padding: 40px 10px 45px !important;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
